@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #f4f4f4;
  color: #555555;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}
.main-page-header{
  background: rgb(9,6,48);
  background: linear-gradient(9deg, rgba(9,6,48,1) 0%, rgba(149,42,115,1) 42%, rgba(153,32,213,1) 100%);
  min-height: 50px;
  color: #f4f4f4;
  padding-top: 25px;
  padding-left: 18px;
}

.header-text{
  width: auto;
  /*color: yellow;*/
  letter-spacing: 0.1em;
  padding: 3px 15px;
  float: left;
}

.header-links{
  float: right;
  width: auto;
  /*letter-spacing: 0.1em;*/
  margin-right: 35px;
}
.header-links li{
  margin: 0;
  display: inline-block;
  word-spacing: 2em;
}

.header-links a{
  color: white;
  text-decoration: none;
  display: block;
  margin-right: 20px;
  padding: 2px 5px;

}
.header-links a:hover{
  color: black;
  background: lightyellow;
  border-radius: 2px;
}
.navbar{
background: black;
  padding: 15px ;
height: 20px;

  top: 0;
}

.navbar ul{
  padding: 0 20px;
}
.navbar li{
display: inline;
word-spacing: 1em;

}
.navbar a:hover{
  color: deeppink;
}
.navbar a{
  text-decoration: none;
  color: #f4f4f4;
  text-align: center;
}

.Storybox{
  display: flex;
  margin: 20px 30px 2.5rem 30px;

}

#storyX{
  width: 70%;
}

.recentStory{
margin-left: auto;
margin-right: auto ;
}
#recentList-Header{
  color: white;
  padding: 10px 100% 10px 4px;
  background: rgb(9,6,48);
  background: linear-gradient(9deg, rgba(9,6,48,1) 0%, rgba(149,42,115,1) 42%, rgba(153,32,213,1) 100%);

}
#recentList-Header h2 {
  padding-top: 10px;
  padding-left: 100px;
  font-style: italic;
  padding-right: 5px;
}
.recentStory ul{
  list-style: none;
}

footer{
background: #555555;
  height: 2.5rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer p{
  margin-top:7px;
  color: white;
  text-align: center;
}

@media (max-width: 700px) {
  .Storybox{
    flex-direction: column;
  }
  #storyX{
    width: 100%;
    margin-bottom: 20px;
  }
  .recentStory{
    margin: 20px 30px 2.5rem 0;
  }
}
@media (max-width: 510px) {
 .navbar{
   height: 50px;
 }
}
