@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #f4f4f4;
  color: #555555;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}
.main-page-header{
  background: rgb(9,6,48);
  background: linear-gradient(9deg, rgba(9,6,48,1) 0%, rgba(149,42,115,1) 42%, rgba(153,32,213,1) 100%);
  min-height: 50px;
  color: #f4f4f4;
  width: auto;
  padding-top: 25px;
  padding-left: 18px;
}
.header-text{
  width: auto;
  /*color: yellow;*/
  letter-spacing: 0.1em;
  padding: 3px 15px;
  float: left;
}

.header-links{
  float: right;
  width: auto;
  /*letter-spacing: 0.1em;*/
  margin-right: 35px;
}

.header-links li{
  margin: 0;
  display: inline-block;
  word-spacing: 2em;
}

.header-links a{
  color: white;
  text-decoration: none;
  display: block;
  margin-right: 20px;
  padding: 2px 5px;

}
.header-links a:hover{
  color: black;
  background: lightyellow;
  border-radius: 2px;
}
.navbar{
background: black;
  padding: 18px ;
height: 20px;
  width: auto;
}
.navbar ul{
  padding-left: 20px;

}
.navbar li{
display: inline;
word-spacing: 1.3em;
}
.navbar a:hover{
  color: deeppink;
}
.navbar a{
  text-decoration: none;
  color: #f4f4f4;
}

